<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
     <link rel="icon" href="icon.png">
   <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="flex">
        {{>header}}
        <p>This site was created by Lior Daniel. 
            It uses data from OpenWeather API.
        </p>
    </div>
    
    {{>footer}}
</body>
</html>